@model web_1.Models.Sefer

@{
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>Sefer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sefer_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sefer_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kalkis_tarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kalkis_tarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.varis_tarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.varis_tarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kalkis_saati)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kalkis_saati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.varis_saati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.varis_saati)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kalkis_havalimani_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kalkis_havalimani_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.varis_havalimani_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.varis_havalimani_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firma_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firma_id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="List">Back to List</a>
</div>
