@model IEnumerable<web_1.Models.airline.Models.Rezervasyon>
﻿@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    Layout = "_AdminLayout";
}


@if (TempData["basarli_rezervasyon_edit"] is not null)
{
    <div class="alert alert-success">@TempData["basarli_rezervasyon_edit"] </div>
}
@if (TempData["basarli_rezervasyon_delete"] is not null)
{
    <div class="alert alert-danger">@TempData["basarli_rezervasyon_delete"] </div>
}
<h1>@localizer["RezervasyonList_Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@localizer["List_CreateNew"]</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @localizer["Rezervasyon_RezervasyonId"]
            </th>
            <th>
                @localizer["Rezervasyon_SeferId"]
            </th>
            <th>
                @localizer["Rezervasyon_RezervasyonTipi"]
            </th>
            <th>
                @localizer["Rezervasyon_KoltukSayisi"]
            </th>
            <th>
                @localizer["Sefer_SeferFiyati"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rezervasyon_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sefer_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rezervasyonTipi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.koltuk_sayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sefer_fiati)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Action Buttons">
                        <a asp-action="Edit" asp-route-id="@item.rezervasyon_id" type="button" class="btn btn-primary">@localizer["Edit"]</a>
                        <a asp-action="Details" asp-route-id="@item.rezervasyon_id" type="button" class="btn btn-primary">@localizer["List_Details"]</a>
                        <a asp-action="Delete" asp-route-id="@item.rezervasyon_id" type="button" class="btn btn-primary">@localizer["Delete"]</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
