@model EfCore2C.Models.Havalimani


@{
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.havalimani_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.havalimani_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.havalimani_adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.havalimani_adi)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
