@model IEnumerable<EfCore2C.Models.Havalimani>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "List";
}

<h1>List</h1>
@if (TempData["basarli_Havalimanis_create"] is not null)
{
    <div class="alert alert-success">@TempData["basarli_Havalimanis_create"]</div>
}
@if (TempData["basarli_Havalimanis_edit"] is not null)
{
    <div class="alert alert-success">@TempData["basarli_Havalimanis_edit"]</div>
}
@if (TempData["basarli_Havalimanis_delete"] is not null)
{
    <div class="alert alert-danger">@TempData["basarli_Havalimanis_delete"]</div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.havalimani_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.havalimani_adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sehir_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.havalimani_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.havalimani_adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sehir_id)
            </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Action Buttons">
                        <a asp-action="Edit" asp-route-id="@item.havalimani_id" type="button" class="btn btn-primary">Düzenle</a>
                        <a asp-action="Details" asp-route-id="@item.havalimani_id" type="button" class="btn btn-primary">Detaylar</a>
                        <a asp-action="Delete" asp-route-id="@item.havalimani_id" type="button" class="btn btn-primary">Sil</a>
                    </div>
                </td>


        </tr>
}
    </tbody>
</table>
